
:host {
  display: block;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

mat-checkbox {
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
