<div class="notes-container">
  <div class="header">
    <div class="filter-options">
      <span>
        <label for="filtroNotas">Filtrar Notas </label>
        <br>
        <select id="filtroNotas" [(ngModel)]="filtroSeleccionado" (change)="filtrarNotas()">
          <option value="notas">Notas</option>
          <option value="activas">Notas Activas</option>
          <option value="archivadas">Notas Archivadas</option>
        </select>
      </span>
      <span>
        <label for="filtroNotasPorCategoria"> Filtrar Notas por categoria </label>
        <br>
        <select id="filtroNotasPorCategoria" [(ngModel)]="categoriaSeleccionada.name" name="categorySelect" (change)="filtrarNotasPorCategoria()">
          <option value="Todas las categorias">Todas las categorias</option>
          <option *ngFor="let category of categories">
            {{category.name}}
          </option>
        </select>
      </span>
    </div>
    <div class="action-buttons">
      <span>
        <button (click)="crearNota()">Nueva nota</button>
      </span>
      <span>
        <button (click)="verCategorias()">Ver categorias</button>
      </span>
    </div>
  </div>
  
  <div class="notes-grid" *ngIf="notes.length > 0">
    <div *ngFor="let note of notes" class="note-container">
      <div class="note-title">{{note.title}}</div>
      <br>
      <div class="note-text">{{note.text}}</div>
      <br>
      <div *ngIf="note.categories?.length">
        <div *ngFor="let categoryDto of note.categories">
          <button class="categoria-estilo-boton">{{categoryDto.name}}</button>
        </div>
      </div>
      <br>
      <div>
        <button (click)="verNota(note)">Ver nota</button>
      </div>
    </div>
  </div>

  <div *ngIf="notes.length === 0" class="no-notes-message">
    No hay notas con esa etiqueta de categoria
  </div>
</div>